{{extend 'layout.html'}}
<h1>
    Welcome {{=auth.user.first_name}}!
</h1>

{{=A('+Add new note', _href=URL("new"))}} 
<table>
    <tr>
        <td>
            Note
        </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>
            Date Added
        </td>
    </tr>
    {{for note in notes:}}
    <tr><td>{{=(A(note.title, _href=URL("show", args=note.id)))}}</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>{{=note.last_made}}</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>{{=(A('delete', _href=URL("delete", args=note.id)))}}</td>
    </tr>
    {{pass}}
</table>
